.video-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
  max-width: 1400px;
}

.video-container__video {
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}

.video-container__video video {
  position: absolute;
  width: 100%;
  height: 100%;
}

.video-container__video span { 
  position: absolute;
  z-index: 1;
  font-size: 24px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 10px;
  top: 80%; right: 50%;
  transform: translate(50%,-50%);
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
